.homepage {
    display: flex;
    min-height: 100vh;
}

/* Header */

.header {
    width: 100vw;
    height: 60px;
    z-index: 1000;
    display: flex;
    position: fixed;
    user-select: none;
    align-items: center;
    background-color: #000000;
    justify-content: space-around;
}

.header-img {
    height: 80%;
}

.header-logo {
    height: 100%;
}

.header-links {
    padding: 5px;
    margin: 0px 5px;
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
}

.header-links:hover {
    color: #ff0000;
    border-bottom: solid #ff0000 1px;
}

.header-menu-tray {
    display: none;
}

.header-menu-icon {
    border-radius: 10px;
    border: solid #ffffff 1px;
}

#header-menu-btn {
    padding: 5px;
}

#header-menu-icon-btn {
    font-size: 30px;
    color: #ffffff;
}

#header-tray-box {
    height: 100%;
    font-size: 1.1rem;
    padding-top: 10px;
}

.home-tray-links {
    margin: 30px;
    text-align: center;
}

#home-tray-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid #ff0000 1px;
}

@media (max-width: 900px) {
    .header {
        height: 55px;
        justify-content: space-between;
    }

    #header-links-tray {
        display: none;
    }

    .header-img {
        margin-left: 5%;
    }

    .header-menu-tray {
        display: inline;
        margin-right: 5%;
    }
}

@media (max-width: 500px) {
    .header {
        height: 50px;
    }

    #header-menu-icon-btn {
        font-size: 25px;
    }
}

/* Home Page */

#home {
    flex: 1;
    padding: 20px;
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: space-evenly;
}

#home-div-1-1,
#home-div-1-3 {
    color: #afafaf;
    font-size: 1.5rem;
}

#home-div-1-2 {
    font-size: 6rem;
    font-weight: 500;
}

#home-div-1-4 {
    display: flex;
    margin-top: 30px;
    user-select: none;
}

#home-div-1-4-link {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    background-color: #ff0000;
}

.home-div-2 {
    user-select: none;
}

#home-img {
    height: 500px;
}

@media (max-width: 1300px) {

    #home-div-1-1,
    #home-div-1-3 {
        font-size: 1.15rem;
    }

    #home-div-1-2 {
        font-size: 5rem;
    }

    #home-img {
        height: 380px;
    }

    #home-div-1-4-link {
        font-size: 1rem;
        padding: 9px 18px;
    }
}

@media (max-width: 950px) {
    #home {
        margin-top: 55px;
        flex-direction: column-reverse;
    }

    .home-div-1 {
        text-align: center;
    }

    #home-div-1-1,
    #home-div-1-3 {
        font-size: 1.1rem;
    }

    #home-div-1-2 {
        font-size: 3rem;
    }

    #home-div-1-4 {
        justify-content: center;
    }

    #home-img {
        height: 250px;
    }

    #home-div-1-4-link {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 900px) {
    #home {
        margin-top: 55px;
    }
}

@media (max-width: 500px) {
    #home {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {

    #home-div-1-1,
    #home-div-1-3 {
        font-size: 1rem;
    }

    #home-div-1-2 {
        font-size: 2.5rem;
    }

    #home-img {
        height: 220px;
    }
}

/* About */

#about {
    display: flex;
    color: #ffffff;
    flex-direction: column;
}

.about-head {
    display: flex;
    font-size: 50px;
    font-weight: 900;
    user-select: none;
    position: relative;
    align-items: center;
    letter-spacing: 3px;
    justify-content: center;
    font-family: 'Courier New';
    padding: 80px 0px 40px 0px;
}

.about-head-txt-2 {
    color: #ff0000;
}

.about-head::before {
    opacity: 0.08;
    font-size: 100px;
    color: #ffffff;
    content: "MYSELF";
    position: absolute;
    letter-spacing: 9px;
}

@media (max-width: 750px) {
    .about-head {
        font-size: 40px;
    }

    .about-head::before {
        font-size: 80px;
        letter-spacing: 8px;
    }
}

@media (max-width: 500px) {
    .about-head {
        font-size: 30px;
    }

    .about-head::before {
        font-size: 60px;
        letter-spacing: 6px;
    }
}

@media (max-width: 330px) {
    .about-head {
        font-size: 27px;
    }

    .about-head::before {
        font-size: 55px;
        letter-spacing: 4px;
    }
}

.about-body {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.about-body-div {
    display: flex;
    max-width: 850px;
    align-items: center;
    justify-content: center;
}

.about-body-1 {
    margin: 30px;
}

#about-body-img {
    height: 400px;
    user-select: none;
}

.about-body-2 {
    margin: 30px;
}

.about-body-2-1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.about-body-2-1-red {
    color: #ff0000;
}

.about-body-2-2 {
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 10px;
}

.about-body-2-3 {
    display: flex;
    line-height: 30px;
    margin-bottom: 15px;
}

.about-body-2-3-1 {
    width: 100px;
    color: #ff0000;
}

.about-body-2-3-2 {
    font-weight: 300;
}

.about-body-2-4 {
    display: flex;
}

.about-resume-btn {
    display: flex;
    color: #ffffff;
    user-select: none;
    padding: 12px 16px;
    border-radius: 40px;
    text-decoration: none;
    border: solid #ff0000 3px;
}

@media (max-width: 800px) {
    .about-body-div {
        flex-direction: column;
    }

    .about-body-2-1 {
        font-size: 2rem;
        text-align: center;
    }

    .about-body-2-2 {
        max-width: 500px;
    }

    .about-body-2-3 {
        justify-content: center;
    }

    .about-body-2-4 {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .about-body {
        padding: 0px 10px;
    }

    #about-body-img {
        height: 300px;
    }

    .about-body-2-1 {
        font-size: 1.8rem;
    }

    .about-body-2-2 {
        font-size: 0.9rem;
    }

    .about-body-2-3 {
        font-size: 0.9rem;
    }

    .about-resume-btn {
        padding: 10px 14px;
        font-size: 0.9rem;
    }
}

@media (max-width: 330px) {
    .about-body-2-1 {
        font-size: 1.6rem;
    }
}

/* Experience */

#exp {
    display: flex;
    flex-direction: column;
}

.exp-head {
    user-select: none;
    padding: 80px 0px 40px 0px;
}

.exp-head {
    display: flex;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
    font-family: 'Courier New';
}

.exp-head-txt-2 {
    color: #ff0000;
}

.exp-head::before {
    opacity: 0.08;
    font-size: 100px;
    color: #ffffff;
    position: absolute;
    content: "HISTORY";
    letter-spacing: 8px;
}

@media (max-width: 750px) {
    .exp-head {
        font-size: 40px;
    }

    .exp-head::before {
        font-size: 80px;
        letter-spacing: 8px;
    }
}

@media (max-width: 500px) {
    .exp-head {
        font-size: 30px;
    }

    .exp-head::before {
        font-size: 60px;
        letter-spacing: 6px;
    }
}

@media (max-width: 330px) {
    .exp-head {
        font-size: 27px;
    }

    .exp-head::before {
        font-size: 55px;
        letter-spacing: 4px;
    }
}

/* Timeline Desktop */

.timeline-1 {
    padding: 20px;
}

#timeline-1-icon-1,
#timeline-1-icon-2 {
    width: 60px;
    height: 60px;
    padding: 2px;
    user-select: none;
}

.timeline-1-minor-1 {
    font-weight: 500;
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.timeline-1-minor-2 {
    font-weight: 300;
    color: #e6e6e6;
    font-size: 0.9rem;
    font-family: 'Poppins';
}

.timeline-1-major-1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins';
}

.timeline-1-major-2 {
    font-weight: 300;
    max-width: 500px;
    color: #f0f0f0;
    text-align: justify;
    font-family: 'Poppins';
}

#timeline-1-float {
    float: right;
}

/* Timeline Phone */

.timeline-2 {
    display: none;
    padding: 20px 0px;
}

#timeline-2-icon-1,
#timeline-2-icon-2 {
    width: 50px;
    height: 50px;
    padding: 2px;
    user-select: none;
}

.timeline-2-minor-1 {
    font-weight: 500;
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.timeline-2-minor-2 {
    color: #e6e6e6;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Poppins';
}

.timeline-2-major-1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins';
}

.timeline-2-major-2 {
    font-weight: 300;
    color: #f0f0f0;
    text-align: justify;
    font-family: 'Poppins';
}

@media (max-width: 800px) {
    .timeline-1 {
        display: none;
    }

    .timeline-2 {
        display: block;
    }
}

@media (max-width: 550px) {

    #timeline-2-icon-1,
    #timeline-2-icon-2 {
        width: 40px;
        height: 40px;
        padding: 1px;
    }

    .timeline-2-minor-1 {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .timeline-2-minor-2 {
        font-size: 0.85rem;
    }

    .timeline-2-major-1 {
        font-size: 1.7rem;
    }

    .timeline-2-major-2 {
        font-size: 0.95rem;
    }
}

@media (max-width: 400px) {

    #timeline-2-icon-1,
    #timeline-2-icon-2 {
        width: 35px;
        height: 35px;
        padding: 0px;
    }

    .timeline-2-minor-1 {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .timeline-2-minor-2 {
        font-size: 0.8rem;
    }

    .timeline-2-major-1 {
        font-size: 1.5rem;
    }

    .timeline-2-major-2 {
        font-size: 0.9rem;
    }
}

@media (max-width: 350px) {

    .timeline-2-minor-1 {
        font-size: 1rem;
    }

    .timeline-2-minor-2 {
        font-size: 0.8rem;
    }

    .timeline-2-major-1 {
        font-size: 1.3rem;
    }

    .timeline-2-major-2 {
        font-size: 0.9rem;
    }
}

/* More Info */

.exp-info {
    width: 100%;
    display: flex;
    /* color: #ffffff; */
    user-select: none;
}

.exp-info-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exp-info-section-1,
.exp-info-section-2,
.exp-info-section-3,
.exp-info-section-4 {
    width: 100%;
    height: 35vh;
    display: flex;
    min-height: 230px;
    max-height: 400px;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
}

.exp-info-section-1 {
    background-color: #232323;
}

.exp-info-section-2 {
    background-color: #1e1e1e;
}

.exp-info-section-3 {
    background-color: #191919;
}

.exp-info-section-4 {
    background-color: #141414;
}

.exp-info-txt {
    font-weight: 300;
    font-size: 2.5rem;
}

.exp-info-img {
    height: 80px;
}

@media (max-width: 1000px) {
    .exp-info {
        flex-direction: column;
    }

    .exp-info-txt {
        font-size: 2.3rem;
    }

    .exp-info-img {
        height: 75px;
    }
}

@media (max-width: 550px) {
    .exp-info-section {
        flex-direction: column;
    }

    .exp-info-txt {
        font-size: 2.1rem;
    }

    .exp-info-img {
        height: 70px;
    }
}

/* Contact */

.contact-head {
    display: flex;
    font-size: 50px;
    font-weight: 900;
    user-select: none;
    padding: 80px 0px;
    position: relative;
    align-items: center;
    letter-spacing: 1.5px;
    justify-content: center;
    font-family: 'Courier New';
}

.contact-head-txt-2 {
    color: #ff0000;
}

.contact-head::before {
    opacity: 0.08;
    font-size: 100px;
    color: #ffffff;
    content: "CONTACT";
    position: absolute;
    letter-spacing: 8px;
}

@media (max-width: 750px) {
    .contact-head {
        font-size: 40px;
    }

    .contact-head::before {
        font-size: 80px;
        letter-spacing: 8px;
    }
}

@media (max-width: 500px) {
    .contact-head {
        font-size: 30px;
    }

    .contact-head::before {
        font-size: 60px;
        letter-spacing: 6px;
    }
}

@media (max-width: 330px) {
    .contact-head {
        font-size: 27px;
    }

    .contact-head::before {
        font-size: 55px;
        letter-spacing: 4px;
    }
}

.contact-1-2 {
    display: flex;
    padding: 30px 0px;
    justify-content: space-evenly;
}

.contact-text {
    width: 35%;
}

.contact-text-head {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
}

.contact-text-content {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.8px;
}

/* Contact Form */

.contact-form {
    width: 45%;
}

.contact-form-input-div {
    padding: 5px;
}

.contact-form-input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    user-select: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-family: 'Poppins';
    caret-color: #ff0000;
    width: calc(100% - 30px);
    background-color: #232323;
}

.contact-form-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    user-select: none;
    padding: 12px 16px;
    border-radius: 40px;
    font-family: 'Poppins';
    background-color: red;
}

.contact-form-error {
    color: red;
    font-size: 12px;
    font-weight: 300;
    margin-left: 15px;
}

@media (max-width: 900px) {
    .contact-1-2 {
        align-items: center;
        flex-direction: column;
    }

    .contact-text {
        width: 90%;
        margin-bottom: 30px;
    }

    .contact-form {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .contact-text-head {
        font-size: 1.4rem;
        letter-spacing: 1.3px;
    }

    .contact-form-input {
        font-size: 15px;
    }

    .contact-form-btn {
        font-size: 0.95rem;
    }
}

@media (max-width: 400px) {
    .contact-text-head {
        font-size: 1.3rem;
        letter-spacing: 1.2px;
    }

    .contact-form-input {
        font-size: 14px;
    }

    .contact-form-btn {
        font-size: 0.9rem;
    }
}

/* Contact Info */

.contact-info {
    width: 100%;
    display: flex;
    user-select: none;
}

.contact-info-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-info-section {
    width: 100%;
    height: 35vh;
    display: flex;
    min-height: 230px;
    max-height: 400px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    flex-direction: column;
    justify-content: center;
}

#contact-info-section-1 {
    color: #ffffff;
    background-color: rgb(35, 35, 35);
}

#contact-info-section-2 {
    color: #ffffff;
    background-color: rgb(30, 30, 30);
}

#contact-info-section-3 {
    color: #ffffff;
    background-color: rgb(25, 25, 25);
}

#contact-info-section-4 {
    color: #ffffff;
    background-color: rgb(20, 20, 20);
}

.contact-info-link-img {
    height: 80px;
}

.contact-info-link-txt {
    padding: 10px;
}

@media (max-width: 1000px) {
    .contact-info-1 {
        flex-direction: column;
    }

    .contact-info-link-img {
        height: 75px;
    }
}

@media (max-width: 550px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-info-link-img {
        height: 70px;
    }
}

/* Footer */

.footer {
    color: #ffffff;
    padding: 5px 0px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins';
    background-color: #0f0f0f;
}

#footer-link {
    color: #ff0000;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 330px) {
    .footer {
        font-size: 0.8rem;
    }
}